.active {
  color:white;
  text-decoration: underline;
}


/* Custom CSS */
.container {
  display: flex;
  justify-content: space-between;
  color:white;
  align-items: center;
  background: #222;
  width: 100wh;
}

ul li {
  display: inline-block;
  list-style-type: none;
  padding:10px;
}

ul li a{
  text-decoration: none;
}